<link rel="stylesheet" href="../../assets/stylesheets/attachmennts.scss">
<link rel="stylesheet" href="../../assets/stylesheets/menubar.scss">
<link rel="stylesheet" href="../../assets/stylesheets/application.scss">

<div class="attach">
  <header class="attach-header">
      <%= image_tag attachmennt.cover.url %>
  </header>

  <section class="attach-body">
    <div class="tags">
      <h4>Actions</h4>
      <ul>
        <li><%= link_to 'Edit', edit_attachmennt_path(attachmennt) %></li>
        <li><%= link_to 'Destroy', attachmennt, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
  </section>
</div>
