<p id="notice"><%= notice %></p>

<h1>Attachmennts</h1>

<% @attachmennts.each do |attachmennt| %>
<%= render 'attachmennt', attachmennt: attachmennt %>
<% end %>



<div class="button">
  <%= link_to 'New Attachmennt', new_attachmennt_path %>
</div>
