<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
  <%= image_tag @attachmennt.picture %>
</p>

<%= link_to 'Edit', edit_attachmennt_path(@attachmennt) %> |
<%= link_to 'Back', attachmennts_path %>
