@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

$color-card-background: #FFFFFF;
$color-tag-background: #E3E5E9;
$color-anchor: #E62A5D;
$color-body-copy: #b9bcbd;
$default-border-radius: 2px;
$breakpoint-medium: "screen and (min-width: 700px)";

 @mixin list-reset() {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	font: {
		family: 'Roboto', sans-serif;
		size: 100%;
		weight: 300;
	}
}

*, *:before, *:after {
	box-sizing: inherit;
}



p {
	font-size: 87.5%;
	font-weight: 300;
	margin-bottom: 1.375em;
  color: #9A9A9A;
}

.cards {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	width: 100%;




.card {
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: white;
	border: 1px solid #333;
	width: 500px;
	margin: 10px;
	padding: 15px;
}

	@media #{$breakpoint-medium} {
		border-top-left-radius: $default-border-radius;
		border-top-right-radius: 0;
		border-bottom-left-radius: $default-border-radius;
		min-height: none;
		width: 100%;
	}


img {
	vertical-align: middle;
	object-fit: contain;
	width: 100%;
}


	h2, h4 {
		color: #000;
		font-weight: 500;
		margin: 0;
	}


	h4 {
		font-size: 20px;
	}

.author {
	color: $color-body-copy;
	display: block;
	font-size: 62.5%;
	text-transform: uppercase;

	a {
		color: $color-anchor;
	}
}

.meta {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.375em;

	.equipment,
	.resolution {
		width: 48.75%;

		ul {
			@include list-reset;
			font-size: 87.5%;
		}
	}
}

.tags {
	ul {
		@include list-reset;
		display: flex;
		flex-wrap: wrap;
		font-size: 87.5%;
		margin-top: 0.35em;
		text-transform: lowercase;
	}

	li {
		margin: 0 0.35em 0.35em 0;
	}

	a {
		background-color: #FF85A6;
	    border: none;
	    border-radius: 4%;
	    font-size: 14px;
	    color: #FFFFFF;
	    cursor: pointer;
	    padding: 5px 24px;
	    transition: background-color 0.5s;

		&:hover, &:focus {
			color: $color-anchor;
			background-color: $color-tag-background;
		}
	}
}
}
body form{
	margin: 0 auto;
}

form {
	width: 800px;
	background-color: $color-tag-background;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
form textarea {
  width: 500px;
  border: 1px solid #000745;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  min-height: 100px;
  transition: border 0.5s;
}
form textarea:focus {
  border: 1px solid #0084d7;
  box-shadow: 0;
  outline: 0;
  transition: border 0.5s;
}

input#article_title{
	width: 500px;
	border: 1px solid #000745;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
}

input#article_pic{
	border: none;
	font-size: 14px;
	cursor: pointer;
	padding: 0;
	transition: background-color 0.5s;
}

.actions input {
	background-color: #FF85A6;
	border: none;
	border-radius: 4%;
	font-size: 14px;
	color: #FFFFFF;
	cursor: pointer;
	padding: 5px 24px;
	transition: background-color 0.5s;

	&:hover, &:focus {
		color: $color-anchor;
		background-color: $color-tag-background;
	}
}
