@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

$color-card-background: #FFFFFF;
$color-tag-background: #E3E5E9;
$color-anchor: #E62A5D;
$color-body-copy: #b9bcbd;
$default-border-radius: 2px;
$breakpoint-medium: "screen and (min-width: 700px)";

@mixin list-reset() {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	color: $color-body-copy;
	font: {
		family: 'Roboto', sans-serif;
		size: 100%;
		weight: 300;
	}
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: $color-tag-background;
	padding: 2.1875em;

}

p {
	font-size: 87.5%;
	font-weight: 300;
	margin-bottom: 1.375em;
  color: #9A9A9A;
}

#browser-top {
  background-color: $color-card-background;
  height: 40px;
  border-top-left-radius: $default-border-radius;
  border-top-right-radius: $default-border-radius;
  padding: 8px 15px;
}

#close-btn {
  border-radius: 50%;
  width:15px;
  height:15px;
  margin-bottom:5px;
  background-color: #FF85A6;
  display: inline-block;
}

#min-btn {
  border-radius: 50%;
  width:15px;
  height:15px;
  background-color: #FFDF50;
  display: inline-block;
  margin:0 5px 5px 5px;
}

#full-btn {
  border-radius: 50%;
  width:15px;
  height:15px;
  margin-bottom:5px;
  background-color: #74FFA4;
  display: inline-block;
}

.card {
	background-color: $color-card-background;
	border-radius: $default-border-radius;
	box-shadow: -18px 18px 4px 0px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 500px;
	margin-right: 2rem;
	margin-bottom: 2rem;

	@media #{$breakpoint-medium} {
		flex-direction: column;
	}
}

.background {
	background-position: center;
	background-size: cover;
	border-top-left-radius: $default-border-radius;
	border-top-right-radius: $default-border-radius;
	min-height: 250px;

	@media #{$breakpoint-medium} {
		border-top-left-radius: $default-border-radius;
		border-top-right-radius: 0;
		border-bottom-left-radius: $default-border-radius;
		min-height: none;
		width: 100%;
	}
}

img {
	vertical-align: middle;
	object-fit: contain;
	width: 100%;
}

.details {
	padding: 2.1875em 5%;

	@media #{$breakpoint-medium} {
		width: 100%;
	}

	h2, h4 {
		color: #000;
		font-weight: 500;
		margin: 0;
	}

	h2 {
		font-weight: bold;
		font-size: 150%;
		line-height: 1.4;
		margin-bottom: 0.35em;
	}

	h4 {
		font-size: 62.5%;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}
}

.author {
	color: $color-body-copy;
	display: block;
	font-size: 62.5%;
	text-transform: uppercase;

	a {
		color: $color-anchor;
	}
}

.meta {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.375em;

	.equipment,
	.resolution {
		width: 48.75%;

		ul {
			@include list-reset;
			font-size: 87.5%;
		}
	}
}

.tags {
	ul {
		@include list-reset;
		display: flex;
		flex-wrap: wrap;
		font-size: 87.5%;
		margin-top: 0.35em;
		text-transform: lowercase;
	}

	li {
		margin: 0 0.35em 0.35em 0;
	}

	a {
		background-color: $color-tag-background;
		border-radius: 50px;
		color: #fff;
		display: block;
		padding: 0.3125em 1.25em;
		text-decoration: none;
		transition: color 0.3s ease;

		&:hover, &:focus {
			color: $color-anchor;
			background-color: $color-tag-background;
		}
	}
}

.article_main {
  display: flex;
  flex-direction: column;
}

.massive {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}
